@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-color: #121212;
    --main-color: #ff3355;
    --main-hover-color: #ff3355a1;
    --second-color: #1a1a1a;
    --third-color: #2c2c2c;
    --nav-text-color: #98999b;
    --nav-text-hover-color: #fffce4;
    --heading-color: #fffce4;
    --small-text-color: #c7c7c7;
    --very-small-text-color: #999999;
}

/* random */
h1 {
    color: var(--heading-color);
}

h2 {
    margin-left: 1.5%;
    color: var(--heading-color);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.825rem;
    margin: 1.3rem 0;
    margin-top: 8px;
    color: var(--small-text-color);
}

p {
    color: var(--very-small-text-color);
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 15px;
    transition: 0.35s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-hover-color);

}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.wrapper {
    margin: 100px auto;
    max-width: 1100px;

}

.title {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: 65px;
    margin-bottom: 20px;

}

.th1 {
    display: flex;
    justify-content: center;
}

.thr {
    width: 180px;
    justify-content: center;
}

.thr hr {
    background-color: var(--main-color);
    height: 5px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

svg {
    display: block;
}

.curve {
    background-color: var(--bg-color);
    margin: 0;
    display: block;
    fill: var(--second-color);
}



.curved {
    background-color: var(--second-color);
    margin: 0;
    display: block;
    fill: var(--bg-color);
}

/* random end */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}



/* navbar */
header {
    height: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: transparent;
}

.logo {
    cursor: pointer;
    color: var(--heading-color);
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: var(--nav-text-color);
    font-size: 17px;
}

.nav-area li a:hover {
    color: var(--nav-text-hover-color);
}

.btn-area {
    cursor: pointer;
    color: var(--heading-color);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: .35s;
}

.btn-area:hover {
    background-color: var(--main-hover-color);
}

.footer {
    color: red;
    width: 300px;
    margin: auto;
}

.bar{
    color:#ff3355;
    width: 300px;
    font-weight: bold;
    font-size:xx-large;
    margin: auto;
}

.features-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.feature {
    background: none;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--third-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.feature:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.feature i {
    font-size: 3.45rem;
    margin: 1rem 0;
}

.feature1 i,
.feature1 h4,
.feature1 .cta {
    color: #42b7ca;
}

.feature1:hover {
    border: 2px solid #42b7ca;
}
